{% extends 'base.html' %}

{% block title %}
註冊頁面
{% endblock %}

{% block content %}
    <div class=container>
        <h1>
            用戶修改
        </h1>
            </br>
        <form method="POST" class="form-register" style="color:white">
            <select name="roleList" class="form-control" >
                {% for role in roll_list %}
                    {% if role.R_id == user_to_mod.Role_id %}
                        <option value="{{role.RoleName}}" selected="selected">{{role.RoleName}}</option>
                    {% else %}
                        <option value="{{role.RoleName}}" >{{role.RoleName}}</option>
                    {% endif %}
                {% endfor %}
            </select>
                </br>
            <input name="newName" value="{{user_to_mod.Name}}" class="form-control", placeholder= "user name" >
                </br>
            <input name="newEmail" value="{{user_to_mod.Account}}" class="form-control", placeholder= "user name" >
                </br>
            <input name="newPassword"  class="form-control", placeholder= "user password" >
                </br>
            <input name="newComfirmPassword"  class="form-control", placeholder= "comfirm password" >
                </br>
            <input class="btn btn-sm btn-secondary" type="submit" value="確定修改">
        </br>
        
    </div>
    
{% endblock %}


